html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    display: flex;
    position: relative;
}
nav{
    background-color: aqua;
    height: 100vh;
    width: 15vw;
}
a{
    display: block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: black;
}
nav a:hover {
    background-color: red;
}
section{
    height: 100vh;
    width: 85vw;
}
h1{
    text-align: center;
    margin-top: 2%;
}

.atas {
    display: flex;
    padding: 3%;
    justify-content: space-between;
}
table, th ,td {
    border: 1px solid;
}
table{
    width: 75%;
}
.tabel {
display: flex;
justify-content: center;
}

.edit {
    background-color: red;
    width: 40%;
    border-radius: 5px;
    margin: 4px;
}
.hapus{
    background-color: aqua;
    width: 40%;
    border-radius: 5px;
    margin: 4px;
}
.tambah{
    background-color: chartreuse;
    border-radius: 5px;
    width: 100px;
}
.modal {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9) ;
    display: none;
    width:100vw;
    z-index: 1;
}
form{
    border: 2px solid;
    max-width: 50vw;
    width: 100%;
    background-color: aqua;
    padding: 10px;
    margin: auto;
    opacity: ;
}
legend{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 5%;
}
label{
    display: inline-block;
    width: 30%;
    height: 30px;
}
input[type="text"],
input[type="email"],
input[type="number"]{
    width: 50%;
    padding: 3px;
}
.rubah{
   margin-left: 31%;
}
